.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-background);
  position: relative;
}

.main-layout-content {
  flex: 1;
  padding: 0 var(--container-space);
}
