.step-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55px;

  border-bottom: 1px solid var(--color-border);
}

.step-button-btn {
  width: 50%;
  height: 100%;
}

.step-button-btn.active {
  border-bottom: 3px solid var(--color-primary);
  color: var(--color-primary);
  font-weight: bold;
}

.step-button-btn button {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: inherit;
  font-weight: inherit;

  border: none;
  background-color: var(--color-white);
}

.step-button-btn button:hover {
  filter: brightness(0.96);
}
