.search-bar {
  display: flex;
  width: 560px;
  height: 50px;
  margin: 0 auto var(--spacing-40);
  border: 1px solid var(--color-border);
  border-radius: 10px;
}
.search-bar-input {
  width: 100%;
  border: 0;
  padding: 10px 20px;
  border-radius: 10px;
}

.search-bar-input:focus {
  outline: none;
}

.search-bar-input::placeholder {
  font-size: var(--font-size-md);
  color: var(--color-font-gray);
}
.search-bar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: -1px;
  background: var(--color-primary);
  border-radius: 10px;
  border: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
