.curriculum-input {
  position: relative;
  width: 100%;
}

.curriculum-input .order {
  font-size: 14px;
  color: var(--color-font-content);
  position: absolute;
  left: 8px;
  line-height: 38px;
}

.curriculum-input .delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 12px;
  top: 0;
  height: 38px;
}
