.layout-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  /* ✅ 전체 기본 배경색 (시안처럼 연한 회색) */
  background-color: #f5f5f7;
}

.layout-main {
  flex: 1;

  /* ✅ 가운데 영역 배경색은 따로 안 주고 부모 색 그대로 사용 */
  display: flex;
  align-items: center;
  justify-content: center;
}
