.search-bar {
  display: flex;
  width: 40%;
  height: 50px;
  margin: 0 auto var(--spacing-40);
  border: 1px solid var(--color-border);
  border-radius: 10px;
}
.search-bar-input {
  width: 100%;
  border: 0;
  padding: 10px 20px;
  border-radius: 10px;
}

.search-bar-input:focus {
  outline: none;
}

.search-bar-input::placeholder {
  font-size: var(--font-size-md);
  color: var(--color-font-gray);
}
.search-bar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: -1px;
  background: var(--color-primary);
  border-radius: 10px;
  border: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media (max-width: 1024px) {
  .search-bar {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .search-bar {
    height: 40px;
  }
  .search-bar-button {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 640px) {
  .search-bar {
    width: 100%;
    height: 35px;
  }
  .search-bar-input {
    padding: 5px 10px;
    border-radius: 8px;
  }
  .search-bar-input::placeholder {
    font-size: 12px !important;
  }

  .search-bar-button {
    width: 35px;
    height: 35px;
  }
  
  .search-bar-button svg {
    width: 15px;
    height: 15px;
  }
}
