
.lecture-list-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: var(--spacing-32); 
}

@media (max-width: 1024px) {
  .lecture-list-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 640px) {
  .lecture-list-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .lecture-list-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
