.main-page {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--color-background);
  padding-top: 30px;
}

.main-page-inside {
}

.main-page-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
