/* 메인페이지, 메인상세페이지 공통 레이아웃 css  */
.mainpage {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--color-background);
  padding: 32px 0 50px;
}

.mainpage-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
