/* Header */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 24px 30px;
gap: 1241.25px;

position: absolute;
height: 80px;
left: 0px;
right: 0px;
top: 0px;

background: #FFFFFF;
border: 1px solid #E1E1E1;


/* Section */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 1px;

position: absolute;
height: 50px;
left: 438px;
right: 437px;
top: 112px;

background: #FFFFFF;
border: 1px solid #D1D5DB;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 8px;


/* Frame 13 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

position: absolute;
width: 1200px;
height: 699px;
left: 120px;
top: 194px;



/* Footer */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 33px 0px 32px;

position: absolute;
height: 80px;
left: 0px;
right: 0px;
top: 944px;

background: #FFFFFF;
border-top: 1px solid #E0E0E0;
