.mypage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.mypage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 1200px;
  gap: 32px;
}

.mypage-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.mypage-title {
  font-size: 30px;
  font-weight: 700;
}
