.header {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: var(--spacing-20);
}

.header-inner {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 700;
  font-size: var(--font-size-30);
  cursor: pointer;
}

.header-logo-text {
  color: #000000;
}

.header-logo-icon {
  color: var(--color-primary);
}

.hello {
  display: flex;
  gap: 5px;
  line-height: 40px;
}

.hello .name {
  font-weight: 600;
}
