.header {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-inner {
  width: 100%;
  max-width: 1200px;
  padding: 0 32px; /* 여백 */
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 3px; /* 글자와 아이콘 사이 여백 */
  font-weight: 700;
  font-size: 30px;
}

.header-logo-text {
  color: #000000;
}

.header-logo-icon {
  color: var(--color-primary);
}
