.filter-select {
  width: 90px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid var(--color-border);
  font-size: 14px;
  color: var(--color-font-subtitle);

  padding-right: 40px;
  background: #fff url('../../../../assets/images/select.png') right 14px center
    no-repeat;
  background-size: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
