.detailpage {
  max-width: var(--inner);
  margin: 0 auto;
  background-color: var(--color-background);
  padding: 32px 0 50px;
}
.detailpage-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  gap: var(--spacing-32);
}
.detailpage-left {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-32);
  flex: 1;
}
.detailpage-thumbnail {
  width: 100%;
  height: 440px;
}
.detailpage-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.detailpage-desc {
  padding: var(--spacing-32);
}
.white-box {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid var(--color-border-default);
}
.detailpage h2 {
  font-size: var(--font-size-24);
  line-height: 1.3em;
  color: var(--color-font-title);
  margin-bottom: var(--spacing-20);
}

.detailpage-inform {
  position: sticky;
  top: var(--spacing-32);
  width: 400px;
  height: fit-content;
  padding: var(--spacing-24);
}

.detailpage-inform-list {
  margin-bottom: var(--spacing-24);
}
.detailpage-inform-list ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-16);
  font-size: var(--font-size-md);
}
.detailpage-inform-list ul li:last-child {
  margin-bottom: 0;
}
.detailpage-inform-list em {
  display: flex;
  align-items: center;
  gap: 10px;
  font-style: normal;
  font-weight: 500;
}
.category-box {
  width: fit-content;
  padding: 5px 10px;
  margin-bottom: var(--spacing-16);
  font-size: var(--font-size-xs);
  color: #fff;
  border-radius: 50vh;
  background: var(--color-primary);
}
.lecture-regist-button {
  display: block;
  background-color: var(--color-primary);
  border-radius: 8px;
  border: 0;
  color: #fff;
  font-size: var(--font-size-18);
  font-weight: 700;
  width: 100%;
  padding: 12px;
}
.lecture-regist-button:hover {
  background-color: var(--color-primary-hover);
}
