.footer {
  width: 100%;
  height: 80px; /* ✅ 높이 수정 */
  background-color: #ffffff;
  border-top: 1px solid #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  color: #9ca3af;
}
