.category-list button {
  margin: 0 6px;
  padding: 0 14px;
  font-size: var(--font-size-sm);
  line-height: 36px;
  border: 1px solid var(--color-border);
  border-radius: 50vh;
  background-color: #fff;
  cursor: pointer;
}

.category-list button.active {
  background-color: var(--color-primary);
  color: white;
  border-color: var(--color-primary);
}

@media (max-width: 1024px) {
  .category-list button {
    line-height: 32px;
  }
}
