.not-found-main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
  color: #111827;
}

.not-found-content {
  max-width: 28rem;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found-title {
  font-size: 6rem;
  font-weight: 700;
  color: var(--color-primary);
}

.not-found-subtitle {
  margin-top: 1rem;
  font-size: 1.875rem;
  font-weight: 600;
  letter-spacing: -0.025em;
}

@media (min-width: 640px) {
  .not-found-subtitle {
    font-size: 2.25rem;
  }
}

.not-found-text {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--color-font-content);
  line-height: 1.5;
}

.not-found-button {
  margin-top: 2rem;
}
